* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}


.red{
    color: red;
}

body {
	background-color: lightgray;
}

.vertical-center {
	height: 100vh;
	display: flex;
	align-items: center;
}

#mess-panel {
	position: fixed;
	width: auto;
	top: 15px;
	right: 15px;
	z-index: 100000;
	visibility: hidden;
}

.text-align-right {
	text-align: right;
}

.bg-lightgray {
	background-color: lightgray;
}

.full-screen {
	height: 100vh;
}

.form-inline>input, .form-inline>button {
	border: 1px solid black;
	border-radius: 2px;
}

.swal-text {
	font-size: 20px;
	text-align: center;
}

.swal-footer {
	text-align: center;
}

.swal-button {
	background-color: dodgerblue;
}

.chat_icon{
	position: fixed;
	right: 30px;
	bottom: 0;
	font-size: 60px;
	color: #3366CC;
	cursor: pointer;
	z-index: 1000;
	transform: scale(-1, 1);
}

.chat_box{
	position: fixed;
	right: 20px;
	bottom: 70px;
	width: 310px;
	height: 0vh;
	background: #dedede;
	z-index: 1000;
	border: 5px black solid;
	border-radius: 2%;
	transition: height 0.3s ease-out;
	transform: scaleY(0);
}
.chat_box.active{
	height: 70vh;
	transform: scaleY(1);
}
#container{
	background-color: #FFFFFF;
	padding-top: 20px; 
	height: auto;
}
#list-question{
	overflow: auto;
	height: 440px;
}
#list-question li{
	display: block !important;
	width: 80%;
	float: left !important;
}
#list-question li a.active{
	font-weight: bold;
	
	background: #DDDDDD;
}
