<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Quiz Online</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/font-awesome/css/all.css}">
	<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
		<a class="navbar-brand"
			style="font-family: 'Courier New', Courier, monospace; color: white; font-weight: bold;">Quiz
			Online</a>
		<button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="my-nav" class="collapse navbar-collapse">
			<ul class="navbar-nav ml-4 jus mr-auto">
				<li th:if="${session.account.role} == 0" class="nav-item mr-3">
					<a class="nav-link" th:href="@{http://localhost:8080/report}"><i class="fas fa-chart-bar"></i> Thống kê </a>
				</li>
				<li class="nav-item mr-3" th:style="${session.account.role} == 2 ? 'display: none;' : ''"><a
						class="nav-link"
						th:href="${session.account.role} == 0 ? @{http://localhost:8080/account/} : @{http://localhost:8080/exam/}"><i
							class="fas fa-users"></i> <span
							th:text="${session.account.role} == 0 ? 'Quản lý tài khoản' : 'Quản lý đề thi'"></span>
					</a></li>
				<li th:if="${session.account.role} == 0" class="nav-item mr-3">
					<a class="nav-link" th:href="@{http://localhost:8080/subject}"><i class="fas fa-book"></i> Quản lý môn thi</a>
				</li>
				<li class="nav-item mr-3" th:style="${session.account.role} != 1 ? 'display: none;' : ''"><a
						class="nav-link" th:href="@{http://localhost:8080/question/}"><i class="fas fa-question"></i>
						Quản lý câu hỏi </a></li>
				<li style="cursor: pointer;" class="nav-item dropdown mr-3 active"><a class="nav-link dropdown-toggle"
						data-toggle="dropdown"> <i class="fas fa-pencil-alt"></i> Tham giathi
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{http://localhost:8080/test}">Tham
							gia thi thử</a>
						<a class="dropdown-item" th:href="@{http://localhost:8080/testReal}">Tham gia kiểm
							tra</a>
					</div>
				</li>
				<li class="nav-item mr-3 "><a class="nav-link" th:href="@{http://localhost:8080/history}"><i
							class="fas fa-history"></i> Xem lịch sử thi</a></li>
			</ul>
		</div>
		<div class="float-right dropdown">
			<button class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
				<img th:src="@{'http://localhost:8080/getimage/' + ${session.account.avtPath}}"
					style="height: 30xp; width: 30px; border-radius: 50%;" /> <span
					th:text="${session.account.fullName}"></span>
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" th:href="@{http://localhost:8080/personal}"><i class="fas fa-user"> Thông tin
						cá nhân</i></a> <a class="dropdown-item" th:href="@{http://localhost:8080/}"><i
						class="fas fa-sign-out-alt"> Đăng xuất</i></a>
			</div>
		</div>
	</nav>
	<div class="container" id="container">
		<div class="row d-flex justify-content-center" style="height: auto;">
			<div class="col-12 row mb-3" style="font-size: 25px; font-family: 'Times New Roman', Times, serif">
				<div class="col-3" th:text="'Mã đề thi: ' + ${examDto.examCode}"></div>
				<div class="col-2"></div>
				<div class="col-3">
					<span th:each="subject : ${listSubject}">
						<span th:if="${subject.subjectId} == ${examDto.subjectId}" th:text="'Môn thi: ' + ${subject.subjectName}"></span>
					</span>
				</div>
				<div class="col-2"></div>
				<div class="col-2 " style="background-color: white;">
					<i class="far fa-clock">&nbsp;&nbsp;</i>
					<span id="countdown"></span>
				</div>
				<hr style="height: 1px; width: 100%;">
			</div>
			<div class=row>
				<div class="col-2 text-center d-flex justify-content-center">
					<ul id="list-question" class="nav nav-tabs" role="tablist">
						<li th:each="question,state : ${listQuestion}" class="nav-item" role="presentation"><a
								class="nav-link " th:classappend="${state.first} ? 'active'" data-toggle="tab"
								th:href="@{'#q' + ${state.index + 1}}" th:text="'Câu '+ ${state.index + 1}"></a></li>
					</ul>
				</div>
				<div class="col-10" style="min-height: 440px;">
					<form style="font-size: 18px;" th:action="@{http://localhost:8080/testing/save}" method="post" th:object="${examDto}">
						<div style="display: none;">
							<input type="hidden" th:field="*{examCode}" />
						</div>
						<div class="tab-content" style="min-height: 380px;">
							<div th:each="questionA,state : ${listQuestion}" class="container tab-pane"
								th:classappend="${state.first} ? 'active'" th:id="'q' + ${state.index + 1}">
								<span th:utext="'Câu ' + ${state.index + 1} + ': ' + ${questionA.question}"></span>
								<div class="form-check">
									<label class="form-check-label"> <input type="radio" class="form-check-input"
											th:name="${questionA.questionCode}" value="1"> <span
											th:text=${questionA.answer_1}></span>
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label"> <input type="radio" class="form-check-input"
											th:name="${questionA.questionCode}" value="2"> <span
											th:text=${questionA.answer_2}></span>
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label"> <input type="radio" class="form-check-input"
											th:name="${questionA.questionCode}" value="3"> <span
											th:text=${questionA.answer_3}></span>
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label"> <input type="radio" class="form-check-input"
											th:name="${questionA.questionCode}" value="4"> <span
											th:text=${questionA.answer_4}></span>
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-10"></div>
							<div class="col-2">
								<button class="btn btn-success" id="sendData">Nộp bài</button>						
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div th:if="${totalPages > 1}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item"><a th:if="${currentPage > 1}" class="page-link"
							th:href="@{'http://localhost:8080/test/page/' + '1'}">First</a> <a
							th:unless="${currentPage > 1}" class="page-link disabled">First</a>
						&nbsp; &nbsp;</li>
					<li class="page-item"><a th:if="${currentPage > 1}" class="page-link"
							th:href="@{'http://localhost:8080/test/page/' + ${currentPage - 1}}">Previous</a>
						<a th:unless="${currentPage > 1}" class="page-link disabled">Previous</a>
						&nbsp; &nbsp;
					</li>
					<li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"><a
							th:if="${currentPage != i}" class="page-link"
							th:href="@{'http://localhost:8080/test/page/' + ${i}}">[[${i}]]</a>
						<a th:unless="${currentPage != i}" class="page-link disabled">[[${i}]]</a>
						&nbsp; &nbsp;
					</li>
					<li class="page-item"><a th:if="${currentPage < totalPages}" class="page-link"
							th:href="@{'http://localhost:8080/test/page/' + ${currentPage + 1}}">Next</a>
						<a th:unless="${currentPage < totalPages}" class="page-link disabled">Next</a> &nbsp; &nbsp;
					</li>
					<li class="page-item"><a th:if="${currentPage < totalPages}" class="page-link"
							th:href="@{'http://localhost:8080/test/page/' + ${totalPages}}">Last</a>
						<a th:unless="${currentPage < totalPages}" class="page-link disabled">Last</a> &nbsp; &nbsp;
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="jumbotron text-center p-1 fixed-bottom" style="margin-bottom: 0;">
		<p class="m-1">&copy; Nguyễn Minh Hiếu - 2021 </p>
	</div>
	<script type="text/javascript">
		const startTime = [[${duration}]];
		let time = startTime * 60;
		const countDown = document.getElementById('countdown');
		var inter = setInterval(updateCountDown, 1000);
		function updateCountDown() {
			const minutes = Math.floor(time / 60);
			let seconds = time % 60;
			if(minutes < (startTime/100) * 10) {
				countDown.setAttribute("style", "color: red;background-color: white;");
			}
			var timeZone = `${minutes} : ${seconds}`;
			countDown.innerHTML = timeZone;
			if (minutes == 0 && seconds == 0) {
				clearInterval(inter);
				var button = document.getElementById('sendData');
				button.form.submit();
				return;
			}
			time--;
		}
	</script>
</body>

</html>